<mat-card class="page-title" *ngIf="educationItems !== undefined && educationItems !== [] && educationItems.length > 0">
  <mat-card-title>
    <mat-icon>school</mat-icon>
    {{l10n.education.title_education}}
  </mat-card-title>
</mat-card>
<app-cv-item *ngFor="let item of educationItems" [cvItem]="item"></app-cv-item>
<mat-card class="page-title" *ngIf="certificationItems !== undefined && certificationItems !== [] && certificationItems.length > 0">
  <mat-card-title>
    <mat-icon>verified_user</mat-icon>
    {{l10n.education.title_certificates}}
  </mat-card-title>
</mat-card>
<app-cv-item *ngFor="let item of certificationItems" [cvItem]="item"></app-cv-item>