.converter-form {
    margin: 110px auto auto auto;
    text-align: center;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}

/* Generic button */

.button-more {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.button-style {
    background-color: rgba(124, 206, 190, 1);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    border: 0px;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
    background-color: white;
    color: rgba(124, 206, 190, 1);
    border-color: white;
    border-width: 0px;
}

@media(max-width:768px) {
    h1 {
        font-size: 24px;
    }
    .button-more {
        font-size: 10px;
    }
    .button-style {
        font-size: 10px;
    }
}